@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.sr-only {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.btn {
    @apply px-4 py-2 cursor-pointer border-2 border-black rounded-md font-black;
}
